/.rasa
/.venv
# /models

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# ------------------------
# Ignore Flutter project travelbotmb
travelbotmb/.dart_tool/
travelbotmb/.packages
travelbotmb/build/
travelbotmb/.flutter-plugins
travelbotmb/.flutter-plugins-dependencies
travelbotmb/pubspec.lock
travelbotmb/.idea/
travelbotmb/.vscode/
